<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
 
<suite name="softwaretestingmaterial">
	<test name="testngTest">

		<groups>
                    <dependencies>
                          <group name="FirstGroup" depends-on="SecondGroup"></group>
                    </dependencies>
                </groups>
	
		<classes>
			<class name="com.testngscript.DependsOnMethodsTestCase" />
		</classes>
		
	</test>
</suite>